@import url('https://fonts.googleapis.com/css?family=Raleway:300');

* {
  box-sizing: border-box;
}

body {
  padding: .5rem;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

h1 {
  font-size: 30px;
  text-align: center;
  font-weight: 300;
  padding: 2rem 0;
}

.logo {
  display: flex;
  justify-content: center;
  padding: 2rem 0 2.5rem;
}

.container-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container-content-item {
  flex: 0 0 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  height: 400px;
  padding: 1rem;
  text-decoration: none;
  background-size: auto 50%;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 2px 2px 15px rgba(0,0,0,0.15);
  transition: box-shadow 200ms ease;
  color: rgba(0,0,0,0.9);
}

.container-content-item + .container-content-item {
  margin-top: 2rem;
}

.container-content-item:hover {
  box-shadow: 2px 2px 25px rgba(0,0,0,0.2);
}

.container-content--archive .container-content-item {
  opacity: .6;
  transition: opacity 200ms ease;
}

.container-content--archive .container-content-item:hover {
  opacity: 1;
}

.container-content-item--stadtzh18 { background-image: url(zuercher_wappen.png); }
.container-content-item--ktbe18 { background-image: url(berner_wappen.png); }
.container-content-item--ch15 { background-image: url(ch_flagge.png); }
